@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root {
    --gradient: hsl(249, 99%, 64%),hsl(278, 94%, 30%);  /*active input border*/
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}


main {
    min-height: 100vh;
    min-height: 100dvh;
}
@media (min-width:600px){
    main {
        display: grid;
        grid-template-columns: 2.5fr 5fr;
    }
    .wrapper {
        display: grid;
        place-items: center;
    }
}