.credit-side-container {
    min-height: 14rem;
    background-image: url("../../images//bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media (min-width:600px) {
    .credit-side-container {
        background-image: url("../../images//bg-main-desktop.png");
        
    }
}
.credit-side-container span {
    color: white;
}
.card-back-wrapper,.card-front-wrapper {
    position: absolute;
    height: fit-content;
    width: 18rem;
    height: 9.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.4rem;
}
@media (min-width:600px) {
    .card-front-wrapper,.card-back-wrapper {
        width: 33rem;
        height: 18rem;
    }
}
.card-back-wrapper {
    background-image: url("../../images//bg-card-back.png");
}
@media (max-width:600px) {
    .card-back-wrapper {
        top: 2rem;
        right: 1rem;
    }
}
@media (min-width:600px) {
    .card-back-wrapper {
        right: 0;
        top: calc(50%);
        transform: translateX(50%);
    }
}
.card-front-wrapper {
    background-image: url("../../images//bg-card-front.png");
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-end;
    gap: 1rem;
}
@media (max-width:600px) {
    .card-front-wrapper {
        bottom: -3.2rem;
        left: 1rem;
    }
}
@media (min-width:600px) {
    .card-front-wrapper {
        top: calc(50% - 20rem);
        right: 0;
        transform: translateX(25%);
        padding: 2rem;
        gap: 2rem;
    }
}
.cvc-span {
    position: absolute;
    top: 4.5rem;
    right: 2.3rem;
    font-size: 0.6rem;
}
@media (min-width:600px) {
    .cvc-span {
        font-size: 1.1rem;
        top: 8.15rem;
        right: 4rem;
    }
}
.number-span {
    bottom: 3rem;
    left: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    font-size: 1.15rem;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
@media (min-width:600px) {
    .number-span {
        font-size: 2rem;
    }
}
.name-expire-wrapper {
    display: flex;
    justify-content: space-between;
}

.name-span,.expire-span {
    font-size:0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    max-width: 60%;
    overflow: hidden;
}
@media (min-width:600px) {
    .name-span,.expire-span {
        font-size: 1rem;
        opacity: 0.9;
        letter-spacing: 0.2rem;
    }
}
.card-logo {
    width: 3.2rem;
    height: 1.7rem;
    margin-bottom: auto;
}
@media (min-width:600px) {
    .card-logo {
        width: 6rem;
        height: 3.3rem;
    }
}
